<p style="color: green"><%= notice %></p>

<h1>My To-do List</h1>

<div id="lists">
  <% @lists.each do |list| %>
    <%= render list %>
    <p>
      <%= link_to "Show this item", list %>
    </p>
  <% end %>
</div>

<%= link_to "Add new to-do item", new_list_path %>
